
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #222222;
    padding-bottom: 50px;
}

a {
    color: #444444;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container-fluid {
    margin: 10px 40px !important;
}

.nav-link {
    color: #666666 !important;
    font-weight: 400 !important;
}

.nav-link:hover, .nav-link:active {
    color: rgb(104,79,144) !important;
    font-weight: bold !important;
}

.hero {
    background-image: url('images/tabletAndPaperInHands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;  /* resmin üzerine gelecek yazıyı daha görünür yapmak için onun pozisyonu absolute yapılacak bu yüzden resmin pozisyonu relative oluyor */
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: -2;  /* ::before'daki tanımlar öne çıksın diye burayı geriye itiyoruz */
 }

 /* Tabletler için */
@media screen and (max-width: 1025px) {
    .hero {
        height: 60vh;
    }
}

 /* Cep telefonları için */
@media screen and (max-width: 600px) {
    .hero {
        height: 40vh;
    }
    .company-logo {
        width: 150px;
    }
}
 
.hero.focus {
    background-image: url('images/tabletInFrontOfWhiteBoard.jpg');
    height: 70vh;
 }

.hero.consultants {
    background-image: url('images/blurPeopleFocusedMugAndLaptop.jpg');
    height: 70vh;
 }

.hero.about {
    background-image: url('images/twoPeopleTalkingSitting.jpg');
    height: 70vh;
    background-position: center;
 }

 .hero.contact {
    background-image: url('images/arche_contact.png');
    height: 50vh;
 } 

.hero::before {
    content: '';  /* pseudo ları kullanırken content belirtilmek zorundaymış, ama herhangi bir text eklemeyeceğimiz için boş bırakıyoruz */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  /* resmin parlaklığını azaltmak için üzerine opacity si az siyah çekiyoruz */ 
    z-index: -1;
} 

.hero h1 {
    font-weight: 200;
    font-size: 64px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Tabletler için */
@media screen and (max-width: 992px) {
    .hero h1 {
        font-weight: 200;
        font-size: 48px;
        margin: -20px 0 20px;
    }

    .hero p {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

/* Cep telefonları için */
@media screen and (max-width: 600px) { 
    .hero h1 {
        font-weight: 200;
        font-size: 36px;
        margin: -20px 0 20px;
    }

    .hero p {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.content {
    font-weight: 400;
}

/* Tabletler ve Cep telefonu dışında */
@media screen and (min-width: 1025px){
    .wrapper-left {
        display: grid;
        grid-template-columns: [col-left] 30% [col-right] 70%;  /* Ekranın %30 u birinci kolon, %70'iikinci kolon oluyor*/
    }

    .wrapper-right {
        display: grid;
        grid-template-columns: [col-left] 70% [col-right] 30%;  /* Ekranın %30 u birinci kolon, %70'iikinci kolon oluyor*/
    }
    .col-mobile {
        display: none;
    }

    .col-left {
        margin-right: 30px;
    }
}

/* Tabletler ve Cep telefonlarında */
@media screen and (max-width: 1024px) {
    .wrapper-left {
        margin: 20px ;
    }
    .wrapper-right {
        margin: 20px;
    }
    .col-right h2 {
        display: none;
    }
}

.content h2, .content h3 {
    font-size: 32px;
    margin: 20px 0;
}

.content p {
    font-size: 15px;
    color: #444444;
    line-height: 1.7;
    text-align: justify;
    /* letter-spacing: 1.2px; */
}

/* Cep telefonlarında */
@media screen and (max-width: 600px) {
    .content h2, .content h3 {
        font-size: 24px;
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
        color: #444444;
        line-height: 1,5;
        text-align: justify;
    }
}

.focus-areas-hero p{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.focus-areas-content {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.consultant-picture {
    width: 299px;
    height: 299px;
    border-color: #666666;
    border: solid;
    margin: 10px;
}

/* Cep telefonlarında */
@media screen and (max-width: 600px) {
    .consultants .card {
        width: 50%;
        height: 50%;
        margin: auto;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body a {
    text-decoration: none;
    color: #444444;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    font-weight: bold;
    font-size: 32px;  
}


/* Cep telefonlarında */
@media screen and (max-width: 600px) {
    .contact-us a{
        font-size: 24px;    
    }
}

.footer {
    margin-top: 50px;
    color: #666666;
}
.footer .container {
    display: flex;  /* aynı satırda yan yana olmaları için*/
    /* justify-content: space-between; */
    justify-content: space-between;
    font-size: 12px;
    color: #666666;
    padding-top: 20px;
}

.footer a, .contact-us  a{
    text-decoration: none;
    color: #444444;
}