
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #222222;
    padding-bottom: 50px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container-fluid {
    margin: 10px 40px !important;
}

.nav-link {
    color: #666666 !important;
    font-weight: bold !important;
}

.nav-link:hover, .nav-link:active {
    color: rgb(104,79,144) !important;
    font-weight: bold !important;
}

.hero {
    background-image: url('images/tabletAndPaperInHands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;  /* resmin üzerine gelecek yazıyı daha görünür yapmak için onun pozisyonu absolute yapılacak bu yüzden resmin pozisyonu relative oluyor */
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: -2;  /* ::before'daki tanımlar öne çıksın diye burayı geriye itiyoruz */
 }

 .hero.focus {
    background-image: url('images/blurPeopleFocusedMugAndLaptop.jpg');
 }

  .hero.consultants {
    background-image: url('images/tabletInFrontOfWhiteBoard.jpg');
 }

   .hero.about {
    background-image: url('images/twoPeopleTalkingSitting.jpg');
 }

.hero::before {
    content: '';  /* pseudo ları kullanırken content belirtilmek zorundaymış, ama herhangi bir text eklemeyeceğimiz için boş bırakıyoruz */
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  /* resmin parlaklığını azaltmak için üzerine opacity si az siyah çekiyoruz */
    z-index: -1;
}

.hero h1 {
    font-weight: 200;
    font-size: 64px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content {
    font-weight: 400;
}

.wrapper-left {
    display: grid;
    grid-template-columns: [col-left] 30% [col-right] 70%;  /* Ekranın %30 u birinci kolon, %70'iikinci kolon oluyor*/
}

.wrapper-right {
    display: grid;
    grid-template-columns: [col-left] 70% [col-right] 30%;  /* Ekranın %30 u birinci kolon, %70'iikinci kolon oluyor*/
}

.wrapper-grid {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: space-between;

}

.col-left {
    margin-right: 30px;
}

.content h2, .content h3 {
    font-size: 32px;
    margin: 20px 0;
}

.content p {
    font-size: 15px;
    color: #444444;
    line-height: 1.7;
    text-align: justify;
    /* letter-spacing: 1.2px; */
}

.focus-areas-hero p{
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.focus-area-content {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.consultant-picture {
    width: 299px;
    height: 299px;
    border-color: #666666;
    border: solid;
    margin: 10px;
}

.contact-us {
    font-size: 32px;
    margin-left: 25%;
}

.contact-us h2{
    font-weight: 200;
    font-weight: bold;
    font-size: 32px;
}
.footer {
    margin-top: 50px;
    color: #666666;
}
.footer .container {
    display: flex;  /* aynı satırda yan yana olmaları için*/
    /* justify-content: space-between; */
    justify-content: space-between;
    font-size: 12px;
    color: #666666;
    padding-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #666666;
}